.navbar {
  width: 100%;
  background: #080808;
  border-bottom: 1px solid #b8860b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1500px;
  height: 90px;
  margin: auto;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 115px;
  height: 75px;
  object-fit: contain;
}

/* Navigation */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 42px;
}

.nav-menu a,
.dropdown-button {
  color: #f5d77a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;

  background: none;
  border: none;
  cursor: pointer;

  transition: 0.3s;
}

.nav-menu a:hover,
.dropdown-button:hover {
  color: #ffffff;
}

/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-button svg {
  font-size: 11px;
}

.dropdown-menu {
  position: absolute;
  top: 38px;
  left: 0;

  min-width: 170px;

  background: #0d0d0d;
  border: 1px solid #b8860b;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 14px 20px;
  color: #f5d77a;
}

.dropdown-menu a:hover {
  background: #1c1c1c;
  color: white;
}

/* Mobile button */

.menu-button {
  display: none;

  background: transparent;
  border: none;
  color: #f5d77a;

  font-size: 24px;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 768px) {

  .navbar-container {
    height: 75px;
    padding: 0 20px;
  }

  .logo img {
    width: 90px;
    height: 65px;
  }

  .menu-button {
    display: block;
  }

  .nav-menu {
    display: none;

    position: absolute;
    top: 75px;
    left: 0;

    width: 100%;

    background: #080808;

    flex-direction: column;
    align-items: flex-start;

    gap: 0;

    border-top: 1px solid #b8860b;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu > a,
  .dropdown {
    width: 100%;
  }

  .nav-menu > a,
  .dropdown-button {
    padding: 18px 25px;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }
}